@import "../../sass/styles/mixins.scss";
@import "../../sass/styles/variables.scss";

.dropdown {
  width: 1023px;
  margin: 0 auto;
  margin-top: 31px;

  &__header {
    @include primaryFont(18px, 500);
    height: 47px;
    background-color: $primary-color;
    color: $white-color;
    @include flexjc(left, center);
    cursor: pointer;
    position: relative;
    padding-left: 20px;
    border-radius: 10px;
  }

  &__arrow {
    position: absolute;
    right: 10px;
    font-size: 24px;
    transition: transform 0.3s;
  }

  &__content {
    margin-top: 17px;
    background-color: white;
    padding: 10px;
    @include aboutFont();
    line-height: 28px;
  }
}

@media (max-width: 500px) {
  .dropdown {
    width: 335px;
    margin-top: 30px;
    margin-bottom: 20px;
    &__header {
      height: 29px;
    }
    &__content {
      margin-top: 5px;
      padding: 5px 10px;
      font-size: 12px;
    }
  }
}
