@import "../../sass/styles/mixins.scss";
@import "../../sass/styles/variables.scss";

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: $primary-color;
  max-width: 1240px;
  margin: 0 auto;
  margin-top: 25px;

  p {
    margin: 0;
    font-size: 18px;
    text-align: right;
  }

  &__left {
    @include flexdirjc(space-between, column);

    &-title {
      @include primaryFont(32px, 500);
      margin: 0;
    }

    &-loc {
      @include primaryFont(18px, 500);
      margin: 0;
    }

    &-tags {
      display: flex;
      gap: 12px;
      justify-content: space-between;
      color: $primary-color;
      &-tag {
        display: flex;
        gap: 10px;
        span {
          font-size: 14px;
          @include flexjc(center, center);
          text-align: center;
          width: fit-content;
          height: 25px;
          background-color: $primary-color;
          color: #fff;
          border-radius: 10px;
          padding: 1px 40px;
        }
      }
    }
  }

  &__right {
    @include flex(column, center);

    > div {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      margin-left: auto;
    }

    p:first-child {
      margin-right: 5px;
      width: 64px;
      text-align: center;
    }
    img {
      border-radius: 50%;
      width: 64px;
      height: 64px;
    }

    &-rate {
      display: flex;
      gap: 6px;

      i {
        font-size: 24px;
        margin-left: 5px;
      }
    }
  }
}

.dropdown-location {
  display: flex;
  gap: 12px;
  max-width: 1240px;
  margin: 0 auto;

  li {
    list-style: none;
  }
  .dropdown_header {
    width: 50%;
  }
}
