footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: black;
  padding: 56px 0 29px 0;
  margin-top: 40px;
  width: 100%;
  bottom: 0;
  position: relative;
  img {
    padding-bottom: 29px;
  }
}
